[project]
	description = "Fabric is a blockchain project in Incubation proposed to the community and documented at https://goo.gl/RYQZ5N.  Information on what Incubation entails can be found in the Hyperledger Project Lifecycle document (https://goo.gl/4edNRc)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ramesh Babu (rameshthoomu)
[access "refs/for/refs/*"]
	read = group user/Ramesh Babu (rameshthoomu)
	push = group user/Ramesh Babu (rameshthoomu)
	label-Code-Review = -2..+2 group user/Ramesh Babu (rameshthoomu)
	label-Verified = -1..+1 group user/Ramesh Babu (rameshthoomu)
	rebase = group user/Ramesh Babu (rameshthoomu)
	removeReviewer = group user/Ramesh Babu (rameshthoomu)
	submit = group user/Ramesh Babu (rameshthoomu)
[access "refs/heads/*"]
	read = group user/Ramesh Babu (rameshthoomu)
	create = group user/Ramesh Babu (rameshthoomu)
	push = +force group user/Ramesh Babu (rameshthoomu)
	pushMerge = group user/Ramesh Babu (rameshthoomu)
[access "refs/tags/*"]
	push = +force group user/Ramesh Babu (rameshthoomu)
	pushTag = group user/Ramesh Babu (rameshthoomu)
	pushSignedTag = group user/Ramesh Babu (rameshthoomu)
